html, body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

body {
  position: relative;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat';
  text-transform: uppercase;
}

h1 {
  font-size: 76px;
  margin: 15px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.landing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
  background-image: url('lbg.jpg');
  background-size: cover;
  color: rgb(214, 213, 217);
  text-align: center;
}

.nav-bar {
  position: absolute;
  top: 40px;
  width: calc(100% - 160px);
  left: 80px;
}

.nav-bar a {
  float: right;
  margin: 0 14px;
  color: rgb(214, 213, 217);
  text-decoration: none;
  
}

.cta {
  resize: both;
  overflow: auto;
}

.begin {
  position: absolute;
  bottom: 40px;
  left: calc(50% - 85px);
  border-bottom: 2px solid rgb(214, 213, 217);
  padding: 8px 0;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
}


.add-item {
  margin: 0 10px;
}

.c1, .c2 {
  display: none;
}

.add-phase {
  background: #222;
  color: rgb(214, 213, 217);
  text-align: center;
}

.add-phase h1, h3 {
  font-weight: 300;
  text-transform: none;
  font-family: 'Lato', sans-serif;
}

  .add-phase h1 {
    font-size: 56px;
    color: rgb(54, 227, 181);
  }
  
  .add-phase h3 {
    margin: 0;
    font-size: 28px;
  }
  
  .new-item {
    background: rgba(0, 0, 0, 0);
    padding: 10px;
    color: rgb(214, 213, 217);
    border: 2px solid rgb(214, 213, 217);
    min-width: 300px;
  }
  
  .items-list .item {
    padding: 10px;
    background: rgb(214, 213, 217);
    color: #222;
    box-shadow: 0 0 10px rgba(0, 0, 0, .36);
    width: 304px;
    position: relative;
    text-align: left;
  }
  .retail-list .item {
    padding: 10px;
    background: rgb(214, 213, 217);
    color: #222;
    box-shadow: 0 0 10px rgba(0, 0, 0, .36);
    width: 304px;
    position: relative;
    text-align: left;
  }
  
  .delete-item {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    padding-top: 7px;
    height: calc(100% - 7px);
    color: rgba(0, 0, 0, .24);
    text-align: center;
  }
  
  .delete-item:hover {
    cursor: pointer;
  }



.login-form {
  
}

.login-form .error, .reg-form .error {
  position: relative;
  top: 14px;
  
}

.login-form input, .reg-form input {
  padding: 10px;
  background: rgba(0, 0, 0, 0);
  border: 2px solid rgb(214, 213, 217);
  color: rgb(214, 213, 217);
  font-weight: 400;
  margin: 4px 0;
  min-width: 220px;
}

.login-form button, .reg-form button {
  padding: 10px;
  background: rgb(214, 213, 217);
  border: none;
  color: #222;
  font-weight: 400;
  text-transform: uppercase;
  min-width: 244px;
  margin: 4px 0;
}

.comparebutton{
  position: relative;
    vertical-align: top;
    width: 20%;
    height: 60px;
    margin:30px;
    top: 20px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #1abc9c;
    border: 0;
    border-bottom: 2px solid #12ab8d;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #12ab8d;
    box-shadow: inset 0 -2px #12ab8d;
}

.reason{
  text-decoration: none;
  list-style-type: none;
  font-size: 30px;

}

.graph{
  margin:10px;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  




